@model AssessmentBrandStudio.Models.EmployeeViewModel
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add Employee</h4>
<hr />
<div class="row ">
    <div class="col-xs-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Employee.Surname" class="control-label"></label>
                <input asp-for="Employee.Surname" class="form-control" />
                <span asp-validation-for="Employee.Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.UserRole" class="control-label"></label>
                <input asp-for="Employee.UserRole" class="form-control" />
                <span asp-validation-for="Employee.UserRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.DateOfBirth" class="control-label"></label>
                <input asp-for="Employee.DateOfBirth" class="form-control" />
                <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Employee.Active" /> @Html.DisplayNameFor(model => model.Employee.Active)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
        <link href="~/css/Employee.css" type="text/css" rel="stylesheet" />

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2" style="padding:0px">
            <hr />
            <div class="text-center">
                <p>

                    <a asp-controller="Technology" asp-action="Index"><button class="btn btn-primary form-control btn-block ">Back to Technology</button></a>
                </p>
            </div>
        </div>
    </div>
</div>
